In [2]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data.csv')
df.head()

,awayX,awayY,bullseyeX,bullseyeY,circleX,circleY,dinoX,dinoY,dotsX,dotsY,...,high_linesX,high_linesY,slant_downX,slant_downY,slant_upX,slant_upY,starX,starY,x_shapeX,x_shapeY
0,32.331110,61.411101,51.203891,83.339777,55.993030,79.277264,55.3846,97.1795,51.147917,90.867412,...,57.613234,83.905171,52.872021,97.343223,47.695201,95.241187,58.213608,91.881892,38.337757,92.472719
1,53.421463,26.186880,58.974470,85.499818,50.032254,79.013071,51.5385,96.0256,50.517126,89.102395,...,51.274392,82.817983,59.014144,93.574875,44.609976,93.075835,58.196054,92.214989,35.751871,94.116768
2,63.920202,30.832194,51.872073,85.829738,51.288459,82.435940,46.1538,94.4872,50.207480,85.460047,...,50.753898,76.754129,56.375109,96.305148,43.856381,94.085872,58.718231,90.310532,32.767218,88.518295
3,70.289506,82.533649,48.179931,85.045117,51.170537,79.165294,42.8205,91.4103,50.069482,83.057670,...,37.021184,81.954470,37.839200,94.359444,41.578929,90.303567,57.278373,89.907607,33.729607,88.622266
4,34.118830,45.734551,41.683200,84.017941,44.377915,78.164628,40.7692,88.3333,50.562846,82.937822,...,42.881755,80.184770,39.885373,90.634662,49.177419,96.610532,58.082020,92.008145,37.238249,83.724928

In [ ]:
df.describe()

In [ ]:
fig, ((ax1, ax2)) = plt.subplots(1, 2)

ax1.boxplot([df['bullseyeX'], df['circleX'], df['starX'], df['dinoX']])
ax2.boxplot([df['bullseyeY'], df['circleY'], df['starY'], df['dinoY']])

plt.show()

In [ ]:
fig, ((ax1, ax2, ax3, ax4), (ay1, ay2, ay3, ay4)) = plt.subplots(2, 4, figsize=[8, 6])

ax1.hist(df['bullseyeX'])
ax2.hist(df['circleX'])
ax3.hist(df['starX'])
ax4.hist(df['dinoX'])

ay1.hist(df['bullseyeY'])
ay2.hist(df['circleY'])
ay3.hist(df['starY'])
ay4.hist(df['dinoY'])

plt.show()

In [ ]:
fig, ((a1, a2), (a3, a4)) = plt.subplots(2, 2, figsize=[8, 8])

a1.scatter(df['bullseyeX'], df['bullseyeY'])
a2.scatter(df['circleX'], df['circleY'])
a3.scatter(df['starX'], df['starY'])
a4.scatter(df['dinoX'], df['dinoY'])

plt.show()